header {
    background-color: #114b5f;
    width: 100%;
    height: 50px;
    position: fixed;
    top:0px;
    right: 0px;
}

body {
    height: 200vh;
}

div {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    position: relative;
    top: 60px;
}

p {
    margin: 0;
}

div p {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

img {
    width: 500px;
}